<configuration>
	<system.webServer>

		<modules runAllManagedModulesForAllRequests="false" />
		<httpErrors existingResponse="PassThrough" />

		<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
			<add name="iisnode-socketio" path="app.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="app">
					<match url="/*" />
					<action type="Rewrite" url="app.js" />
				</rule>

				<rule name="SocketIO" patternSyntax="ECMAScript">
					<match url="/socket.io" />
					<action type="Rewrite" url="app.js" />
				</rule>
			</rules>
		</rewrite>

		<directoryBrowse enabled="false" />

		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
					<add segment="temp" />
					<add segment="app.js.logs" />
					<add segment="package-lock.json" />
					<add segment="package.json" />
					<add segment=".env" />
				</hiddenSegments>
			</requestFiltering>
		</security>

	</system.webServer>
</configuration>